.footer {
  min-height: 86px;
  background: red;
  position: relative;
}

.footer span {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 3px;
  background: black;
  color: white;
}
